.Vinter{
    background-image: url(./img/snow_winter_trees.jpg);
    text-align: center;
    border: 5px solid #D6001C;
    border-radius: 20px;
    height: 500px;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 50px;
    
    
    
    
    
    
    
    
}

.Loggor{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 5px solid #D6001C;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;


    
    
}

.Loggor img{
    height: 50px;
    width: auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
}

.Stor{
    border: 5px solid #D6001C;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 500px;
}

.Länkar{
    border: 5px solid #D6001C;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 500px;
}


.Länkar img{
    width: 400px;
    border: 5px solid black;
    border-radius: 20px;
}

.Länkar a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    
}
    

.Text{
    border: 5px solid #D6001C;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Julgran{
    border: 5px solid #D6001C;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Julgran img{
    width: 200px;
    height: 400px;
}

.Mail{
    text-align: center;
    border: 5px solid #D6001C;
    border-radius: 20px;
    margin: 10px;
}
